.metadata/*
/hsqldb/
/smallsql/
*.json
*.config
*.gen
.recommenders/snipmatch/repositories/http___git_eclipse_org_gitroot_recommenders_org_eclipse_recommenders_snipmatch_snippets_git/index/segments_1
*.png
